// Colores ----------------------------------->>>
$bgHeader: #FFE600;
$bgMenu: #FF7D15;
$title: #000000;
$colorText: #666666;;
$placeholder: #999999;
$bgButton: #3483FA;
$bgButtonHover: #2F75E0;
$bgColor: #EEEEEE;
$bgInput: #FFFFFF;
$bgAlerts: rgba(0, 0, 0, 0.1);
$bgImg: rgba(48, 45, 45, 0.2);
$bgShadow: rgba(26, 24, 24, 0.7);

// Fonts ------------------------------------->>>
$RobotoFont: 'Roboto';
$RobotoBoldFont: 'RobotoBold';
$RobotoBlackFont: 'RobotoBlack';
$RobotoMediumFont: 'RobotoMedium';
$RobotoMediumItalicFont: 'RobotoMediumItalic';
$RobotoLightFont: 'RobotoLight';
$RobotoLightItalicFont: 'RobotoLightItalic';
$RobotoItalicFont: 'RobotoItalic';